body {
    margin: 0px;
    background-color: rgb(238, 238, 238);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}

.flex_container {
    width: 500px;
    height: 570px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;  
    display: grid; 
    grid-template-rows: 75px 25px auto 50px 50px;
    position: relative;
    
}

.flex_container_load {
    width: 500px;
    height: 570px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;  
    display: grid; 
    grid-template-rows: 75px 35px auto 50px;
    position: relative;
}

.title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    position: relative;
    top: 13px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #828282;
}

.drag_and_drop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 85%;
    height: 75%;
    border: 1px dashed#97BEF4;
    border-radius: 12px;
    display: grid;
    background-color: rgba(246, 248, 251, 1);

}

.box-2 {
    width: 85%;
    height: 75%;
    border-radius: 12px;
    display: grid;
    background-color: rgba(246, 248, 251, 1);

}

.box-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.img-prev {
    margin: auto;
    position: relative;
    top: 15px;
}

.drag {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
    position: relative;
    top: 15px;
}

.or {
    text-align: center;
    position: relative;
    bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
}

.file_chooser {
    text-align: center;
    position: relative; 
    bottom: 20px;
}

button {
    width: 100px;
    height: 32px;
    font-family: "Noto Sans", sans-serif ;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.035em;
    background: #2F80ED;
    border-radius: 8px;
    color: white;
    border-color: #2F80ED;
}

.drag-over {
    border: 3px dashed #5799f7;
}

.hidden {
    display: none;
}


/* LOADING SCREEN */
.loading_box {
    width: 400px;
    height: 143px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.uploading {
    color: rgba(79, 79, 79, 1);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    position: relative;
    top: 30px;
    left: 50px;
}


.loading {
    background-color:rgb(238, 238, 238);
    width: 75%;
    height: 8px;
    margin: auto;
    border-radius: 10px;
    overflow:-moz-hidden-unscrollable;
    position: relative;
    top: 40px;
}

.load_bar {
    border-radius: 10px;
    position: relative;
    background-color: #2F80ED;
    width: 30%;
    height: 100%;
    animation-name: "bar";
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes bar {
    0% {
        left: -90px;
    }
    100% {
        left: 300px;
    }
}

.icon {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    top: 20px;
}

input {
    width: 320px;
    height: 28px;
    background-color: rgba(246, 248, 251, 1);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
}